<div class="flex flex-col w-full h-full bg-cloud-100 p-8">
    <div class="flex flex-col gap-y-4 rounded shadow">
        <form [formGroup]="form" (ngSubmit)="createEvent()" class="flex flex-col gap-y-10">
            <div class="flex flex-col gap-2">
                @let urlControl = form.get('url');

                <div class="relative z-0">
                    <input type="url" id="url" formControlName="url" class="block py-2.5 px-0 w-full text-sm 
                    text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none 
                    focus:ring-0 focus:border-andes-blue-500 peer" placeholder=" " [value]="event()?.url" />
                    <label for="url" class="absolute text-sm text-gray-500
                    duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 
                    peer-focus:text-andes-blue-500 peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 
                    rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Enlace</label>
                </div>

                @if (urlControl && urlControl.errors && urlControl.touched && urlControl.invalid) {
                    <app-form-control-errors [isControlTouched]="urlControl.touched" 
                    [controlErrors]="urlControl.errors" />
                }
            </div>

            <div class="flex flex-col gap-2">
                @let imageControl = form.get('image');

                <div class="relative z-0">
                    <input type="file" id="image" formControlName="image" class="block py-2.5 px-0 w-full text-sm 
                    text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none 
                    focus:ring-0 focus:border-andes-blue-500 peer" placeholder=" " />
                    <label for="image" class="absolute text-sm text-gray-500
                    duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 
                    peer-focus:text-andes-blue-500 peer-placeholder-shown:scale-100 
                    peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 
                    rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Imagen</label>
                </div>

                @if (imageControl && imageControl.errors && imageControl.touched && imageControl.invalid) {
                    <app-form-control-errors [isControlTouched]="imageControl.touched" 
                    [controlErrors]="imageControl.errors" />
                }
            </div>
                
            <button type="submit" [disabled]="!form.valid" class="bg-warm-gold-500 text-white p-2
                font-semibold hover:bg-warm-gold-600 disabled:bg-warm-gold-500/60 disabled:hover:bg-warm-gold-500/60 
                disabled:cursor-not-allowed">
                Confirmar
            </button>
        </form>

        <p class="text-green-500 text-sm text-center">
            {{ message() }}
        </p>
    </div>
</div>