<div class="flex justify-center items-center p-2">
    <div class="flex p-4 bg-cloud-100 md:w-3/5">
        
        <div class="flex flex-col gap-y-4 p-2 w-4/5">
            <div class="flex flex-col">
                <h1 class="font-merriweather text-storm-100 font-semibold text-lg md:text-2xl">
                    {{ book().title}}
                </h1>
                
                <h2 class=" text-gray-500 font-semibold text-base md:text-lg">
                    {{ book().author}} • {{ book().year}}
                </h2>
            </div>

            <app-stars-rating [rating]="rating()" />
            
            <p class="text-storm-100 font-merriweather">
                {{ review().comment}}
            </p>
        </div>

        <img height="100" width="100" class= "h-full w-1/5 md:1/4" [ngSrc]="book().image" alt="{{ book().title }}" />
    </div>
</div>
