<footer class="bg-cloud-100 p-6">
    <div class="flex flex-col gap-y-3 justify-center items-start md:items-center">
        <a class="flex gap-x-2 items-center text-andes-blue-600 
        hover:text-andes-blue-500" href="https://www.instagram.com/libreria_letrasymareas/" target="_blank">
            <svg-instagram class="w-4 h-4 fill-andes-blue-600" />
            <span>&#64;libreria_letrasymareas</span>
        </a>

        <a class="flex gap-x-2 items-center text-andes-blue-600 
        hover:text-andes-blue-500" href="https://maps.app.goo.gl/bWviMpaFiFxWSUhn7" target="_blank">
            <svg-location-dot class="w-4 h-4 fill-andes-blue-600" />
            <span>Inmaculada Concepción 11, San Antonio</span>
        </a>

        <div class="flex flex-col md:items-center">
            <div class="flex gap-x-2 items-center">
                <svg-clock class="w-4 h-4 fill-andes-blue-600" />
                <span class="text-andes-blue-600">Horario de atención</span>
            </div>

            <span class="text-andes-blue-600">Lunes a Viernes: 11:00–14:00 / 15:00–19:00 | Sábado: 12:00–19:00</span>
        </div>
    </div>
</footer>